body{
    /*background-color: rgb(250, 239, 208);*/
    background-image: url("../../images/historia/wallpapers.jpg");
}
h1,h2{
    /*margin-left: 20%;
    margin-right: 20%;*/
    margin: 1% 0;
    text-align: center;
    text-shadow:  2px 2px rgba(220, 220, 224, 0.664);
    /*border: 1px solid black;*/
    /*background: rgb(226, 180, 120,60%);*/
}

img{
    max-width:100%;width:auto;height:auto;
    float: left;
    /*min-width: 282px;
    min-height: 160px;*/
    /*height: 40%;
    width: 40%;*/
    margin-right: 25px;
    margin-bottom: 20px;
    background: white;
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px;
    /*width: 150px;*/
}
@media screen and (min-width: 800px) {
    img {
        display: block;
        max-width:45%;width:auto;height:auto;
        
    }
    
}

.imagenes-izq{
    max-width:100%;width:auto;height:auto;
    /*height: 30%;
    width: 25%;*/
    float: right;
    
}

.fondo{
    /*min-width: 500px;*/
    margin: 0 3%;
    padding: 1px 3%;
    background: rgba(243, 236, 157, 0.137);
    /*border: 1px solid black;*/
}
.caja-imagen{
    position: relative;
}
#imagenes img{
    margin-left: 1%;
    width: 20%;
    display: inline-block;
}
p{
    color: rgb(243, 236, 236);
    margin-bottom: 20px;
}

#menu-local ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 55%;
    background-color: #f1f1f1af;
    position: fixed;
    right: 0;
    overflow: auto;
}

#menu-local li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#menu-local li a.active {
    background-color: #4CAF50;
    color: white;
}

#menu-local li a:hover:not(.active) {
    background-color: #555;
    color: white;
}