*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'open sans';*/
}



.galeria h1{
    text-align: center;
    margin:20px 0 15px 0;
    font-weight: 300;
}
.boton{
    position: relative;
    padding: 4px;
   background-color:tomato;
    float: right;
    margin-right: 3px;
}
.form_subida{
    width: 50%;
    border: dodgerblue solid 3px;
    border-width: 30px;
}
.linea{
    border-top: 5px solid #0077C0;
    margin-bottom: 40px;
}

.contenedor-imagenes{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height:250px;
    margin-bottom:5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}
.imagen img{
    width: 100%;
    height:100%;
    object-fit: contain; /*cover*/
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background:rgba(0, 118, 192, 0.781) ;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}
center{
        background-color: lavender
            !important;
}
.overlay h2{
    color: #fff;
    font-weight: 300;
    font-size:1.1em;
    position: relative;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.container {
  position: relative;
  max-width: 650px;
  margin: 0px auto;
  margin-top: 50px;
  border: currentColor solid 2px;
  padding: 1rem;
}

.comment-text-area {
  float: right;
  width: calc(100% - 45px);
  height: auto;
  background-color: red;
}

.button{
width: 30%;
background-color: gray;
color: white;
border: 2px solid black;
padding: 10px;
font-size:20px;
cursor:pointer;
border-radius: 5px;
margin-top: 2px;

}
.textinput {
  float:left;
  font-size: 1.2rem;
  width: 100%;
  min-height: 35px;
  outline: none;
  resize: none;
  border: 1px solid #f0f0f0;
}

.imagen:hover .overlay{
    height:100%;
    cursor: pointer;
}

@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}

@media screen and (max-width:700px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

@media screen and (max-width:450px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
}

