html {
    margin: 0;
    padding: 0;
    text-align: justify;
}


/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 768px) {
    #sub1{
        color: white;
        background-size: 100% !important;
        background-image: url("../images/lugaresHolbox/sub1.jpg") !important;
    }
    #sub2{
        text-align: justify;
        color: white;
        background-size: 100% !important;
        background-image: url("../images/lugaresHolbox/sub2.jpg") !important;
    }
    #sub3{
        text-align: justify;
        color: black;
        background-size: 100% !important;
        background-image: url("../images/lugaresHolbox/sub3.jpg") !important;
    }    
    #sub4{
        text-align: justify;
        color: rgb(255, 255, 255) !important;
        background-size: 100% !important;
        background-image: url("../images/lugaresHolbox/sub4.jpg") !important;
    }
    #sub6{
        text-align: justify;
        color: rgb(0, 0, 0) !important;
        background-size: 100% !important;
        background-image: url("../images/lugaresHolbox/sub6.jpg") !important;
    }
    #sub8{
        color: rgb(252, 252, 252) !important;
        background-size: 100% !important;
        background-image: url("../images/lugaresHolbox/sub8.jpg") !important;
    }  
}

body {
    font-family: 'Montaga';
    font-size: 13pt;
    background-color: #efefef;
    padding: 0px;
    margin: 0;
}
h1 {
    font-size: 20pt;
    color: #20bcd5;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 0 0;
}

h1 span {
    padding: 10px;
}

#intro{
    text-align: center;
    margin: 0% 10%;
}
p {
    line-height: 1.5;
    padding: 0;
    margin: 0;
}
.section {
    background-color: #fff;
    padding: 0px;
    margin-bottom: 0%;
    border-radius: 0px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
    overflow:hidden;
    margin: 1%;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
    height:100%;
}

h2{
    padding-top: 1%;
    margin: 0%;
}

.subseccion{
    color: whitesmoke;
	background-position:center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.textoIzquierda{
    text-indent: 4rem; 
    margin: 0%;
    padding: 2%;
    width: 50%;
    height: 50%;
    padding-bottom: 2%;
	margin-right: 0;
}
.textoDerecha{
    text-indent: 4rem; 
    margin: 0%;
    padding: 2%;
    padding-bottom: 3%;
    width: 50%;
    height: 70%;
	margin-left: 40%;
}

/*Estilos de la galeria final*/

.galeria {
	width: 90%;
	margin: auto;
	list-style: none;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.galeria li {
	margin: 5px;
}

.galeria img {
    height: auto;
	width: 6rem;
}

/*Estilos del modal*/

.modal {
	display: none;
}

.modal:target {
	
	display: block;
	position: fixed;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal h3 {
	color: #fff;
	font-size: 1.2rem;
	text-align: center;
	margin: 1rem 0;
}

.imagen {
    width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.imagen a {
	color: #fff;
	font-size: 40px;
	text-decoration: none;
	margin: 0 0.4rem;
}

.imagen a:nth-child(2) {
	margin: 0;
	height: 100%;
	flex-shrink: 2;
}

.imagen img {
    width: auto;
	height: 100%;
    border: 7px solid #fff;
    box-sizing: content-box;
}

.cerrar {
	display: block;
	background: #fff;
	width: 1rem;
    height: 1rem;
    margin: 1.5% auto;
	text-decoration: none;
	font-size: 1rem;
	color: #000;
	padding: 0.2rem;
	border-radius: 50%;
    line-height: 1rem;
}
